<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>

<body>
    <div class="first_page">
        <div class="header">
            <div class="shop_name fade_up"><img src="{{url_for('static',filename='images/logo.png')}}" alt="image not found"></div>
            <div class="options">
                <nav class="fade_left">
                    <a href="">Home</a>
                    <a href="">Services</a>
                    <a href="">About Us</a>
                    <a href="">Pages</a>
                    <a href="">Contact</a>
                </nav>
            </div>
         
        </div>
        <div class="first_page_content">
            <div class="info_on_first_page fade_up">
                <div class="text_info_on_first_page">
                    <p id="your_trusted" class="fade_left">Your Trusted</p>
                    <p class="fade_left" id="electrical_experts">Electrical Experts</p>
                    <p class="about_in_info_text"> With years of hands-on experience and a commitment to quality, we
                        specialize in residential and
                        commercial electrical solutions, emergency repairs, and energy-efficient installations. Our team
                        values prompt, reliable service and ensures that every job is done to the highest safety
                        standards.</p>
                </div>
                <div class="learn_more_and_call_us">
                    <button class="learn_more_on_first_page">Learn More</button>
                    <div class="call_us_in_info_on_first_page">
                        <p>Call Us</p>
                        <h4 style="color:beige">1251563-12-1</h4>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="cards fade_up">
        <div class="first_card"> <img src="{{url_for('static',filename='images/safe_power_always.png')}}" alt="">
            <p class="cards_heading">Safe Power Always</p>
            <p class="about_cards">Guaranteed safety in every electrical installation.</p>
        </div>
        <div class="second_card"><img src="{{url_for('static',filename='images/reliable_energy_save.png')}}" alt="">
            <p class="cards_heading">Reliable Energy Supply</p>
            <p class="about_cards">Stable power flow for daily living needs.</p>
        </div>
        <div class="third_card"> <img src="{{url_for('static',filename='images/expert_electrical_solution.png')}}" alt="">
            <p class="cards_heading">Expert Electrical Solutions</p>
            <p class="about_cards">Quick, precise fixes for
                complex issues.</p>
        </div>
        <div class="fourth_card"><img src="{{url_for('static',filename='images/long_term_savings.png')}}" alt="">
            <p class="cards_heading">Long-Term Savings</p>
            <p class="about_cards">Durable systems reduce costly future
                repairs.</p>
        </div>
    </div>
    <div class="third_page">
        <div class="third_page_info">
            <p id="third_page_heading" class="fade_left">Reliable Services With</p>
            <p id="third_page_info_in_paragraph" class="fade_left">Lasting Results</p>

        </div>
        <div class="services_cards fade_up">
            <div class="first_card"><img src="{{url_for('static',filename='images/residential_electrical_solution.png')}}" alt="">
                <p class="services_heading">Residential Electrical Solutions</p>
                <p class="services_info">Safe And Reliable System for Every Home</p>
            </div>
            <div class="second_card"><img src="{{url_for('static',filename='images/commercial_electrical_powers.png')}}" alt="">
                <p class="services_heading">Commercial Electrical Power Services</p>
                <p class="services_info">Efficient Energy support for business operations.</p>
            </div>
            <div class="third_card"><img src="{{url_for('static',filename='images/industrial_electrical.png')}}" alt="">
                <p class="services_heading">Industrial Electrical Installations</p>
                <p class="services_info">Durable systems build for heavy demands.</p>
            </div>
            <div class="fourth_card"><img src="{{url_for('static',filename='images/emergency_electrical_repair.png')}}" alt="">
                <p class="services_heading">Emergency Electrical Repair Services</p>
                <p class="services_info">Fast response ensuring uninterrupted electricity anytime.</p>
            </div>
            <div class="fifth_card"><img src="{{url_for('static',filename='images/smart_home_electrical_automation.png')}}" alt="">
                <p class="services_heading">Smart Home Electrical Automation</p>
                <p class="services_info">Modern control bringing comfort and efficiency.</p>
            </div>
            <div class="sixth_card"><img src="{{url_for('static',filename='images/sustainable_energy_saving.png')}}" alt="">
                <p class="services_heading">Sustainable Energy Saving Solutions</p>
                <p class="services_info">Innovative designs reducing long -term power costs.</p>
            </div>

        </div>
    </div>
    <div class="feedback_and_reach_us">
        <div class="feedback fade_up">

            <p class="customer_info">Name*</p>
            <input type="text" placeholder="Your Name" class="input_info">
            <p class="customer_info">Email*</p>
            <input type="text" placeholder="Input Email Here" class="input_info">
            <p class="customer_info">Subject*</p>
            <input type="text" placeholder="Subject" class="input_info">
            <p class="customer_info">Message*</p>
            <input type="text" placeholder="Input message Here" id="input_info">
            <button class="send_msg">Send Message</button>
        </div>
        <div id="reachus" class="fade_up">
            <p class="fade_left" id="reach_us_heading">Reach Us</p>
            <p class="fade_left" id="reach_us_heading2">AnyTime You Need</p>
            <p class="reach_us_paragraph">We Welcomes you anytime you needs us. We ensures you to provide the best
                quality work at a pocket friendly cost. There will be no chances of poor work.
                Contact for correct information.
            </p>
            <div class="visit_us"><img src="" alt="">
                <p class="contacts">Visit Us</p>
                <p class="contacts2">sundernagar,mandi,hp</p>
            </div>
            <div class="call_us_at_reachus"><img src="" alt="">
                <p class="contacts">Call Us</p>
                <p class="contacts2">12255-41221</p>
            </div>
            <div class="message_us"><img src="" alt="">
                <p class="contacts">Message Us</p>
                <p class="contacts2">hello@domainsite.com</p>
            </div>
        </div>

    </div>
    <div class="fourth_page">
        <div class="schedule">
            <p class="fade_left" id="schedule_heading">Get Safe, Reliable Electrical Services Now!

            </p>
            <p class="fade_left" id="schedule_today">Schedule Your Consultation Today.</p>
            <div class="contact_us_in_schedule">
                <p>Contact us!</p>
                <p>12211212-122152</p>
            </div>
        </div>
        <div class="social_links">
            <p id="social_links_heading" class="fade_left">Follow Us On</p>
            <div class="social_pages">
                <div class="social fade_up"><a href=""><img src="{{url_for('static',filename='images/facebook_logo.jpg')}}" alt=""></a>
                    <p>Facebook</p>
                </div>
                <div class="social fade_up"><a href=""><img src="{{url_for('static',filename='images/twiiter_logo.jpg')}}" alt=""></a>
                    <p>Twitter</p>
                </div>
                <div class="social fade_up"><a href=""><img src="{{url_for('static',filename='images/instagram_logo.jpg')}}" alt=""></a>
                    <p>Instagram</p>
                </div>
            </div>
        </div>
    </div>
    <script src="{{url_for('static',filename = 'js/script.js')}}"></script>
</body>

</html>